In [3]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='Ugj5ceWcnCf-YlFT-1uLqsWC3lEAV18_rzfndrFDnYbX',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.eu-de.cloud-object-storage.appdomain.cloud')

bucket = 'hello-donotdelete-pr-0n1q3cqldzff3y'
object_key = 'Urlaub Brazil.xlsx'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']

df_data_0 = pd.read_excel(body.read())
df_data_0.head()

,Unnamed: 0,Saida,chegada,saidav,chegav,Ferias,preco,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,HAM,2022-09-19 19:00:00,2022-09-20 04:20:00,2022-09-25 23:50:00,2022-09-26 19:05:00,5,599.0,lufthansa&latam,NaN,NaN,937.0,NaN
1,HAM,2022-09-19 18:00:00,2022-09-20 05:20:00,2022-09-25 23:50:00,2022-09-26 19:05:00,5,627.0,eurow&Latam&luft,NaN,NaN,NaN,NaN
2,HAM,2022-09-20 06:25:00,2022-09-20 16:55:00,2022-09-25 16:55:00,2022-09-26 13:50:00,5,675.0,airfrance,NaN,NaN,NaN,NaN
3,HAM,2022-09-21 06:05:00,2022-09-21 16:55:00,2022-09-25 16:55:00,2022-09-26 13:50:00,4,621.0,airfrance,NaN,NaN,NaN,NaN
4,HAM,2022-09-21 06:05:00,2022-09-21 16:55:00,2022-09-26 19:10:00,2022-09-27 14:15:00,5,558.0,airfrance&klm,NaN,NaN,NaN,NaN